<div>
  <div>
    <h2><%= item.titulo %></h2>
    <div>
      <%= image_tag item.imagen %>
    <div>
  </div>
  <div>
    <%= t("items.price")%>: <%= item.precio %>
  </div>
  <div>
    <%= t("items.date")%>:
    <time>
      <%= item.created_at.localtime.strftime('%d/%m/%Y  %H:%M:%S') %>
    </time>
  </div>
  <div>
    <%= t("items.author.label") %>:
    <% if item.user.respond_to?(:first_name) %>
      <%= item.user.first_name %>
    <% else %>
      <%= t("items.author.default") %>
    <% end %>
  </div>
  <hr/>
</div>
